h1 {
    letter-spacing: 1px;
    margin: 0;
}

.balance-container {
    display: flex;
    justify-content: space-between;
}

.balance-currency-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
    list-style: none;
    place-content: center;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 351px;
    height: 61vh;
}

.balance-currency {
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;
}

.balance-btn {
    color: #3f3f3f
}